
<header>



</header>


<div class="collapse col-md-4" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">

          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a routerLink="/" class="nav-link text-secondary">

                Home
              </a>
            </li>
            <li>
              <a routerLink="/dashboard" class="nav-link text-white">

                Dashboard
              </a>
            </li>
            <li>
              <a routerLink="/contact"  class="nav-link text-white">

                Contact
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Products
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                Customers
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>


<router-outlet></router-outlet>
